<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYx0zioWhAY_a2pebW0QaCxBQ77j99XMA</string>
	<key>GCM_SENDER_ID</key>
	<string>248219729499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesis.unifiedassist</string>
	<key>PROJECT_ID</key>
	<string>unified-assist-wra4g4</string>
	<key>STORAGE_BUCKET</key>
	<string>unified-assist-wra4g4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248219729499:ios:3101da73b6e934f416097e</string>
</dict>
</plist>